
/*=================== box to upload =======================*/

.upload
{
    text-align: center;
    max-width: 300px;
    max-height: 100px;
    position: relative;
}
.upload img
{
    max-width: 300px;
    max-height: 100px;
    z-index: 1;
}
.upload input
{
    font-size: 0px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 3;
}
.upload span
{
    color: #FFF;
    font-size: 20px;
    background: #444;
    display: none;
    padding: 10px;
    width: 100%;
    min-height: 70px;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 2;
}
.upload .progress
{
    font-size: 55px;
    color: #fff;
    background: #8CC152;
    display: none;
    border-radius: 0px;
    padding: 0px;
    width: 100%;
    min-height: 70px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 4;  
}
/*========= Logo on cpanel =================================*/

.site-logo-img
{
    padding: 7px;
}
.site-logo-img img
{
    width: auto;
    height: 35px;
} 





