# Auto redirection to HTTPS
#RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301] 

#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<IfModule mod_rewrite.c>
	# Tell PHP that the mod_rewrite module is ENABLED.
	#SetEnv HTTP_MOD_REWRITE On
	
	Options -Indexes
	#Options +FollowSymLinks -MultiViews

	RewriteEngine On
	RewriteBase /ci-copy/
	
	#RewriteCond $1 !^(js|css|img|rebots\.txt)
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>